<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.hotels.android.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.FlightsListingActivity" />
        <activity android:name=".ui.activities.FlightDetailActivity" />
        <activity android:name=".ui.activities.UserAuthenticationActivity" />
        <activity android:name=".ui.activities.SingleHotelPageActivity" />
        <activity
            android:name=".ui.activities.OnBoardingActivity"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.BookingDetailsActivity" />
        <activity android:name=".ui.activities.SuccessfulBookingActivity" />
        <activity android:name=".ui.activities.BookingActivity" />
        <activity android:name=".ui.activities.CardInfoActivity"></activity>
    </application>

</manifest>